.container {
    background-image: url(/assets/backgrounds/h_img.jpg);
    width: 500;
    height: 500;
    text-align: center;
}

.section2 {
    background-color: transparent;
    text-align: center;
    height: auto;
    width: 20px;
}